.foinni-bg-info{
    background-color: #fceae8;
}
.foinni-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.catagories img{
    width: 100px;
}
.foinni-bg-orange{
    background-color: orange;
}
.foinni-bg-orchid{
    background-color: orchid;
}
.foinni-bg-blue{
    background-color: blue;
}
.subscribe p{
    color: gray;
    font-weight: 500;
}
.social-icons a .fab{
    margin: 4px;
}
footer a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}